[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CompQuadForm"]
	path = CompQuadForm
	url = https://github.com/cran/CompQuadForm
[submodule "ConvergenceConcepts"]
	path = ConvergenceConcepts
	url = https://github.com/cran/ConvergenceConcepts
[submodule "ECGofTestDx"]
	path = ECGofTestDx
	url = https://github.com/cran/ECGofTestDx
[submodule "HellCor"]
	path = HellCor
	url = https://github.com/cran/HellCor
[submodule "asympTest"]
	path = asympTest
	url = https://github.com/cran/asympTest
[submodule "groc"]
	path = groc
	url = https://github.com/cran/groc
[submodule "nortestARMA"]
	path = nortestARMA
	url = https://github.com/cran/nortestARMA
[submodule "rPowerSampleSize"]
	path = rPowerSampleSize
	url = https://github.com/cran/rPowerSampleSize
